version: "3.9"

services:
  backend:
    build:
      context: ./fullstack-app-spring-boot
      dockerfile: Dockerfile.dev
    container_name: fullstack-app-backend
    restart: always
    ports:
      - "8080:8080"
    volumes:
      - ./fullstack-app-spring-boot:/app
      - /app/target
    environment:
      SPRING_SERVER_PORT: 8080
      SPRING_SERVER_ADDRESS: 0.0.0.0

      SPRING_DATASOURCE_URL: jdbc:mysql://fullstack-app-mysql:3306/fullstack-app-database?createDatabaseIfNotExist=true
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: My5tr0n9My50LPa55word

      SPRING_DATA_REDIS_HOST: fullstack-app-redis
      SPRING_DATA_REDIS_PORT: 6379
      SPRING_DATA_REDIS_PASSWORD: My5tr0n9R3d15Pa55word

      APP_DEVICE_LIMIT: 2
      APP_SESSION_EXPIRATION: 1800000
      JWT_SECRET: uGnsplpiVfI205tFAnsCIXT/EBkM1Lb1cQDqoViNMpg=
      CORS_ALLOWED_ORIGINS: http://localhost:3000
      LOGGING_FILE_NAME: fullstack-app-spring-boot.log
    networks:
      - my_network

networks:
  my_network:
    external: true
