name: Deploy VTI

on:
  workflow_dispatch:
    inputs:
      deploy_backend:
        description: "Deploy BACKEND"
        type: boolean
        default: false
      deploy_frontend:
        description: "Deploy FRONTEND"
        type: boolean
        default: false

jobs:
  backend:
    name: Deploy BACKEND
    if: ${{ inputs.deploy_backend }}
    runs-on: [self-hosted, Linux, X64]

    steps:
      - name: Force cleanup workspace (fix permission)
        run: |
          sudo rm -rf $GITHUB_WORKSPACE || true
          mkdir -p $GITHUB_WORKSPACE
          sudo chown -R ubuntu:ubuntu $GITHUB_WORKSPACE

      - name: Checkout source
        uses: actions/checkout@v4
        with:
          clean: false   

      - name: Ensure docker network exists
        run: |
          docker network inspect my_network >/dev/null 2>&1 \
          || docker network create my_network

      - name: Build & deploy backend
        run: |
          docker compose -f docker-compose.backend.yml up -d --build

  frontend:
    name: Deploy FRONTEND
    if: ${{ inputs.deploy_frontend }}
    runs-on: [self-hosted, Linux, X64]

    steps:
      - name: Force cleanup workspace (fix permission)
        run: |
          sudo rm -rf $GITHUB_WORKSPACE || true
          mkdir -p $GITHUB_WORKSPACE
          sudo chown -R ubuntu:ubuntu $GITHUB_WORKSPACE

      - name: Checkout source
        uses: actions/checkout@v4
        with:
          clean: false  

      - name: Ensure docker network exists
        run: |
          docker network inspect my_network >/dev/null 2>&1 \
          || docker network create my_network

      - name: Build & deploy frontend
        run: |
          docker compose -f docker-compose.frontend.yml up -d --build
