name: Deploy VTI

on:
  workflow_dispatch:
    inputs:
      deploy_backend:
        description: "Deploy BACKEND"
        type: boolean
        default: false
      deploy_frontend:
        description: "Deploy FRONTEND"
        type: boolean
        default: false

jobs:
  backend:
    name: Deploy BACKEND
    if: ${{ inputs.deploy_backend }}
    runs-on: [self-hosted, Linux, X64]

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Build & deploy backend
        run: |
          docker compose -f docker-compose.backend.yml up -d --build

  frontend:
    name: Deploy FRONTEND
    if: ${{ inputs.deploy_frontend }}
    runs-on: [self-hosted, Linux, X64]

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Build & deploy frontend
        run: |
          docker compose -f docker-compose.frontend.yml up -d --build
