name: Deploy VTI

on:
  workflow_dispatch:
    inputs:
      target:
        description: "Choose what to deploy"
        required: true
        type: choice
        options:
          - backend
          - frontend

jobs:

  backend:
    name: Deploy BACKEND 
    if: github.ref == 'refs/heads/main' && (github.event.inputs.target == 'backend' || github.event.inputs.target == 'all')
    runs-on: [self-hosted, Linux, X64]

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Build & deploy backend
        run: |
          docker compose -f docker-compose.backend.yml up -d --build

  frontend:
    name: Deploy FRONTEND 
    if: github.ref == 'refs/heads/main' && (github.event.inputs.target == 'frontend' || github.event.inputs.target == 'all')
    runs-on: [self-hosted, Linux, X64]

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Build & deploy frontend
        run: |
          docker compose -f docker-compose.frontend.yml up -d --build
